button{
	width: 7em;
	height: 3em;
	border: .05px solid black;
}
button:hover{
	background-color: #919499;
}
.eq{
	background-color: #4d87e3;
}
.eq:hover{
	background-color: #1662db;
}
.qs{
	background-color: white;
	padding: 5px;
	font-size: 2em;
	width: 394px;
	height: 100px;
	border: 2px solid black;
}
.ans{
	background-color: white;
	padding: 5px;
	font-size: 2em;
	text-align: right;
	width: 394px;
	height: 100px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
.Calci{
	
	margin-left: 550px;
}
.head{
	text-align: center;
	font-size: 6em;
	font-family: 'Geostar', cursive;
}
body{
	background: #edf2fa;
}